In [152]:
import pandas as pd

In [153]:
# read cartel excel file
cartel_df = pd.read_excel('./transformed_data/cartel_networks/cartel_data_with_centrality_measures.xlsx', sheet_name='Sheet1')

cartel_df.head(10)

,case,cartel,entity_name,key_iustin,key_iustin_long,start,end,duration,number_of_firms,number_of_cartel_firms,...,cartel_pagerank,cartel_harmonic_centrality,cartel_degree,company_degree_centrality,company_betweenness_centrality,company_closeness_centrality,company_eigenvector_centrality,company_pagerank,company_harmonic_centrality,company_degree
0,31865,PVC (II),Elf Aquitaine SA,C000007728,31865C000007728,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.016502,0.017079,0.070142,1.477309e-04,0.006032,27.396825,5
1,31865,PVC (II),BASF SE,C000008351,31865C000008351,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.009901,0.014818,0.072772,1.065091e-04,0.003885,26.676190,3
2,31865,PVC (II),Koninklijke DSM,C000013105,31865C000013105,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.003300,0.000000,0.062600,3.999821e-05,0.001569,21.630159,1
3,31865,PVC (II),ENI,C901505544,31865C901505544,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.016502,0.036346,0.077110,9.059498e-05,0.006563,29.210714,5
4,31865,PVC (II),Wacker Chemie AG,C901711026,31865C901711026,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.003300,0.000000,0.062600,3.999821e-05,0.001569,21.630159,1
5,31865,PVC (II),Royal Dutch Shell,C901842957,31865C901842957,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.006601,0.008405,0.065783,7.150727e-05,0.002804,24.296825,2
6,31906,FLAT GLASS,PPG Industries Inc,C000003476,31906C000003476,1982,1987,6,2,3.0,...,0.006984,5.500000,5,0.003300,0.000000,0.009901,2.667940e-13,0.001681,3.333333,1
7,31906,FLAT GLASS,Saint Gobain,C000007729,31906C000007729,1982,1987,6,2,3.0,...,0.006984,5.500000,5,0.003300,0.000000,0.009901,2.667940e-13,0.001681,3.333333,1
8,32800,Quantel International - continuum / Quantel SA,Hoya Corporation,C000087990,32800C000087990,1986,1992,7,1,2.0,...,0.003289,1.000000,1,0.003300,0.000000,0.003300,4.317360e-37,0.003289,1.000000,1
9,33016,ANSAC,FMC Corp.,C000001711,33016C000001711,1984,1990,7,4,7.0,...,0.005473,21.963492,4,0.006601,0.000902,0.056798,6.407280e-05,0.002679,21.233730,2

In [154]:
# select only relevant columns
cartel_df = cartel_df[['case', 'cartel', 'entity_name', 'sector', 'subsector', 'start', 'end', 'duration']]

# Select unique rows
cartel_df = cartel_df.drop_duplicates()

# define new column in dataframe year_minus_3
cartel_df['t_A_-3'] = cartel_df['start'] - 3
cartel_df['t_A_-2'] = cartel_df['start'] - 2
cartel_df['t_A_-1'] = cartel_df['start'] - 1

cartel_df['t_A'] = cartel_df['start']
cartel_df['t_AE'] = cartel_df['start'].astype(str) + ' - ' + cartel_df['end'].astype(str)
cartel_df['t_E'] = cartel_df['end']

cartel_df['t_E_+1'] = cartel_df['end'] + 1
cartel_df['t_E_+2'] = cartel_df['end'] + 2
cartel_df['t_E_+3'] = cartel_df['end'] + 3

# get smallest value from column t_A_-3
min_t_a_minus_3 = cartel_df['t_A_-3'].min()

# get largest value from column t_E_+3
max_t_e_plus_3 = cartel_df['t_E_+3'].max()

print( min_t_a_minus_3)
print(max_t_e_plus_3)

cartel_df.head(10)

1966
2010

,case,cartel,entity_name,sector,subsector,start,end,duration,t_A_-3,t_A_-2,t_A_-1,t_A,t_AE,t_E,t_E_+1,t_E_+2,t_E_+3
0,31865,PVC (II),Elf Aquitaine SA,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
1,31865,PVC (II),BASF SE,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
2,31865,PVC (II),Koninklijke DSM,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
3,31865,PVC (II),ENI,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
4,31865,PVC (II),Wacker Chemie AG,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
5,31865,PVC (II),Royal Dutch Shell,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
6,31906,FLAT GLASS,PPG Industries Inc,3,4,1982,1987,6,1979,1980,1981,1982,1982 - 1987,1987,1988,1989,1990
7,31906,FLAT GLASS,Saint Gobain,3,4,1982,1987,6,1979,1980,1981,1982,1982 - 1987,1987,1988,1989,1990
8,32800,Quantel International - continuum / Quantel SA,Hoya Corporation,3,5,1986,1992,7,1983,1984,1985,1986,1986 - 1992,1992,1993,1994,1995
9,33016,ANSAC,FMC Corp.,3,3,1984,1990,7,1981,1982,1983,1984,1984 - 1990,1990,1991,1992,1993

In [155]:
# Get all filenames from mapping file (contains all filenames)
df_mapping = pd.read_excel("./raw_data/mapping/filename_to_entity_mapping.xlsx")

# if entity_name_direct_match column is not empty take entity_name_direct_match else take entity_name_indirect_match_1
df_mapping['entity_name'] = df_mapping.apply(
    lambda x: x['entity_name_direct_match'] if pd.notna(x['entity_name_direct_match']) else x['entity_name_indirect_match_1'], axis=1)

# drop all columns except entity_name and filename
df_mapping = df_mapping[['entity_name', 'file_name']]

# join cartel_df with df_mapping on entity_name
cartel_df = cartel_df.merge(df_mapping, on='entity_name', how='left')

# drop all rows where file_name is empty
cartel_df = cartel_df[cartel_df['file_name'].notna()]

# count number of rows in cartel_df
num_rows = cartel_df.shape[0]

print(f"Number of rows in cartel_df after mapping: {num_rows}")

cartel_df.head(10)

Number of rows in cartel_df after mapping: 72

,case,cartel,entity_name,sector,subsector,start,end,duration,t_A_-3,t_A_-2,t_A_-1,t_A,t_AE,t_E,t_E_+1,t_E_+2,t_E_+3,file_name
3,31865,PVC (II),ENI,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997,ENI
81,37444,SAS Maersk Air and Sun-Air,SAS AB,7,0,1999,2001,3,1996,1997,1998,1999,1999 - 2001,2001,2002,2003,2004,SAS AB
96,37533,Choline Chloride,Akzo Nobel NV,3,3,1993,1998,6,1990,1991,1992,1993,1993 - 1998,1998,1999,2000,2001,Akzo Nobel
114,37773,MCAA (Monochloroacetic acid),Akzo Nobel NV,3,3,1984,1998,15,1981,1982,1983,1984,1984 - 1998,1998,1999,2000,2001,Akzo Nobel
116,37919,Bank charges for exchanging EUR currencies Ger...,Commerzbank AG,8,0,1999,2001,3,1996,1997,1998,1999,1999 - 2001,2001,2002,2003,2004,Commerzbank
120,38069,Copper plumbing tubes,Mueller Industries Inc,3,4,1998,2000,3,1995,1996,1997,1998,1998 - 2000,2000,2001,2002,2003,Mueller Industries
124,38069,Copper plumbing tubes,Boliden AB,3,4,1988,2000,13,1985,1986,1987,1988,1988 - 2000,2000,2001,2002,2003,Boliden
125,38069,Copper plumbing tubes,IMI PLC,3,4,1990,2000,11,1987,1988,1989,1990,1990 - 2000,2000,2001,2002,2003,IMI PLC
140,38432,Professional videotape,Hitachi Maxell Limited,3,5,2000,2001,2,1997,1998,1999,2000,2000 - 2001,2001,2002,2003,2004,Hitachi Maxell
141,38432,Professional videotape,Sony Corporation,3,5,2000,2001,2,1997,1998,1999,2000,2000 - 2001,2001,2002,2003,2004,Sony

In [ ]:
# read herfindal file
herfindal_df = pd.read_excel('./transformed_data/shareholder_data/herfindahl_index.xlsx', sheet_name='Sheet1')

# rename company_name to file_name
herfindal_df.rename(columns={'company_name': 'file_name'}, inplace=True)

herfindal_df.head(10)

year_columns = ['t_A_-3', 't_A_-2', 't_A_-1', 't_A', 't_AE', 't_E', 't_E_+1', 't_E_+2', 't_E_+3']

cartel_df_reduced = cartel_df[year_columns + ['file_name']]

# Melt the cartel_df so we have one row per (file_name, year)
cartel_long = cartel_df_reduced.melt(
    id_vars=['file_name'], 
    value_vars=year_columns,
    var_name='time_label', 
    value_name='year'
)

# join cartel_long with herfindahl_df on file_name and year
cartel_long = cartel_long.merge(herfindal_df, on=['file_name', 'year'], how='left')

# filter for file_name ENI
cartel_long = cartel_long[cartel_long['file_name'].str.contains('ABB')]


cartel_long.head(20)

,case,cartel,entity_name,sector,subsector,start,end,duration,t_A_-3,t_A_-2,...,t_AE,t_E,t_E_+1,t_E_+2,t_E_+3,file_name,company_name,year,herfindahl_index,amount_investors
0,31865,PVC (II),ENI,3,3,1981,1994,14,1978,1979,...,1981 - 1994,1994,1995,1996,1997,ENI,NaN,NaN,NaN,NaN
1,37444,SAS Maersk Air and Sun-Air,SAS AB,7,0,1999,2001,3,1996,1997,...,1999 - 2001,2001,2002,2003,2004,SAS AB,NaN,NaN,NaN,NaN
2,37533,Choline Chloride,Akzo Nobel NV,3,3,1993,1998,6,1990,1991,...,1993 - 1998,1998,1999,2000,2001,Akzo Nobel,NaN,NaN,NaN,NaN
3,37773,MCAA (Monochloroacetic acid),Akzo Nobel NV,3,3,1984,1998,15,1981,1982,...,1984 - 1998,1998,1999,2000,2001,Akzo Nobel,NaN,NaN,NaN,NaN
4,37919,Bank charges for exchanging EUR currencies Ger...,Commerzbank AG,8,0,1999,2001,3,1996,1997,...,1999 - 2001,2001,2002,2003,2004,Commerzbank,NaN,NaN,NaN,NaN
5,38069,Copper plumbing tubes,Mueller Industries Inc,3,4,1998,2000,3,1995,1996,...,1998 - 2000,2000,2001,2002,2003,Mueller Industries,NaN,NaN,NaN,NaN
6,38069,Copper plumbing tubes,Boliden AB,3,4,1988,2000,13,1985,1986,...,1988 - 2000,2000,2001,2002,2003,Boliden,NaN,NaN,NaN,NaN
7,38069,Copper plumbing tubes,IMI PLC,3,4,1990,2000,11,1987,1988,...,1990 - 2000,2000,2001,2002,2003,IMI PLC,NaN,NaN,NaN,NaN
8,38432,Professional videotape,Hitachi Maxell Limited,3,5,2000,2001,2,1997,1998,...,2000 - 2001,2001,2002,2003,2004,Hitachi Maxell,Hitachi Maxell,1997.0,2498.3966,27.0
9,38432,Professional videotape,Sony Corporation,3,5,2000,2001,2,1997,1998,...,2000 - 2001,2001,2002,2003,2004,Sony,Sony,1997.0,14.3190,353.0