In [383]:
import pandas as pd
import numpy as np

In [384]:
# read cartel excel file
cartel_df = pd.read_excel('./transformed_data/cartel_networks/cartel_data_with_centrality_measures.xlsx', sheet_name='Sheet1')

cartel_df.head(10)

,case,cartel,entity_name,key_iustin,key_iustin_long,start,end,duration,number_of_firms,number_of_cartel_firms,...,cartel_pagerank,cartel_harmonic_centrality,cartel_degree,company_degree_centrality,company_betweenness_centrality,company_closeness_centrality,company_eigenvector_centrality,company_pagerank,company_harmonic_centrality,company_degree
0,31865,PVC (II),Elf Aquitaine SA,C000007728,31865C000007728,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.016502,0.017079,0.070142,1.477309e-04,0.006032,27.396825,5
1,31865,PVC (II),BASF SE,C000008351,31865C000008351,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.009901,0.014818,0.072772,1.065091e-04,0.003885,26.676190,3
2,31865,PVC (II),Koninklijke DSM,C000013105,31865C000013105,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.003300,0.000000,0.062600,3.999821e-05,0.001569,21.630159,1
3,31865,PVC (II),ENI,C901505544,31865C901505544,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.016502,0.036346,0.077110,9.059498e-05,0.006563,29.210714,5
4,31865,PVC (II),Wacker Chemie AG,C901711026,31865C901711026,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.003300,0.000000,0.062600,3.999821e-05,0.001569,21.630159,1
5,31865,PVC (II),Royal Dutch Shell,C901842957,31865C901842957,1981,1994,14,6,12.0,...,0.007593,30.213095,6,0.006601,0.008405,0.065783,7.150727e-05,0.002804,24.296825,2
6,31906,FLAT GLASS,PPG Industries Inc,C000003476,31906C000003476,1982,1987,6,2,3.0,...,0.006984,5.500000,5,0.003300,0.000000,0.009901,2.667940e-13,0.001681,3.333333,1
7,31906,FLAT GLASS,Saint Gobain,C000007729,31906C000007729,1982,1987,6,2,3.0,...,0.006984,5.500000,5,0.003300,0.000000,0.009901,2.667940e-13,0.001681,3.333333,1
8,32800,Quantel International - continuum / Quantel SA,Hoya Corporation,C000087990,32800C000087990,1986,1992,7,1,2.0,...,0.003289,1.000000,1,0.003300,0.000000,0.003300,4.317360e-37,0.003289,1.000000,1
9,33016,ANSAC,FMC Corp.,C000001711,33016C000001711,1984,1990,7,4,7.0,...,0.005473,21.963492,4,0.006601,0.000902,0.056798,6.407280e-05,0.002679,21.233730,2

##################################################
Draft 1 (suboptimal)
##################################################

In [385]:
# select only relevant columns
cartel_df = cartel_df[['case', 'cartel', 'entity_name', 'sector', 'subsector', 'start', 'end', 'duration']]

# Select unique rows
cartel_df = cartel_df.drop_duplicates()

# define new column in dataframe year_minus_3
cartel_df['t_A_-3'] = cartel_df['start'] - 3
cartel_df['t_A_-2'] = cartel_df['start'] - 2
cartel_df['t_A_-1'] = cartel_df['start'] - 1

cartel_df['t_A'] = cartel_df['start']
cartel_df['t_AE'] = cartel_df['start'].astype(str) + ' - ' + cartel_df['end'].astype(str)
cartel_df['t_E'] = cartel_df['end']

cartel_df['t_E_+1'] = cartel_df['end'] + 1
cartel_df['t_E_+2'] = cartel_df['end'] + 2
cartel_df['t_E_+3'] = cartel_df['end'] + 3

# get smallest value from column t_A_-3
min_t_a_minus_3 = cartel_df['t_A_-3'].min()

# get largest value from column t_E_+3
max_t_e_plus_3 = cartel_df['t_E_+3'].max()

print( min_t_a_minus_3)
print(max_t_e_plus_3)

cartel_df.head(10)

1966
2010

,case,cartel,entity_name,sector,subsector,start,end,duration,t_A_-3,t_A_-2,t_A_-1,t_A,t_AE,t_E,t_E_+1,t_E_+2,t_E_+3
0,31865,PVC (II),Elf Aquitaine SA,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
1,31865,PVC (II),BASF SE,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
2,31865,PVC (II),Koninklijke DSM,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
3,31865,PVC (II),ENI,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
4,31865,PVC (II),Wacker Chemie AG,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
5,31865,PVC (II),Royal Dutch Shell,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997
6,31906,FLAT GLASS,PPG Industries Inc,3,4,1982,1987,6,1979,1980,1981,1982,1982 - 1987,1987,1988,1989,1990
7,31906,FLAT GLASS,Saint Gobain,3,4,1982,1987,6,1979,1980,1981,1982,1982 - 1987,1987,1988,1989,1990
8,32800,Quantel International - continuum / Quantel SA,Hoya Corporation,3,5,1986,1992,7,1983,1984,1985,1986,1986 - 1992,1992,1993,1994,1995
9,33016,ANSAC,FMC Corp.,3,3,1984,1990,7,1981,1982,1983,1984,1984 - 1990,1990,1991,1992,1993

In [386]:
# Get all filenames from mapping file (contains all filenames)
df_mapping = pd.read_excel("./raw_data/mapping/filename_to_entity_mapping.xlsx")

# if entity_name_direct_match column is not empty take entity_name_direct_match else take entity_name_indirect_match_1
df_mapping['entity_name'] = df_mapping.apply(
    lambda x: x['entity_name_direct_match'] if pd.notna(x['entity_name_direct_match']) else x['entity_name_indirect_match_1'], axis=1)

# drop all columns except entity_name and filename
df_mapping = df_mapping[['entity_name', 'file_name']]

# join cartel_df with df_mapping on entity_name
cartel_df = cartel_df.merge(df_mapping, on='entity_name', how='left')

# drop all rows where file_name is empty
cartel_df = cartel_df[cartel_df['file_name'].notna()]

# count number of rows in cartel_df
num_rows = cartel_df.shape[0]

print(f"Number of rows in cartel_df after mapping: {num_rows}")

cartel_df.head(10)

Number of rows in cartel_df after mapping: 72

,case,cartel,entity_name,sector,subsector,start,end,duration,t_A_-3,t_A_-2,t_A_-1,t_A,t_AE,t_E,t_E_+1,t_E_+2,t_E_+3,file_name
3,31865,PVC (II),ENI,3,3,1981,1994,14,1978,1979,1980,1981,1981 - 1994,1994,1995,1996,1997,ENI
81,37444,SAS Maersk Air and Sun-Air,SAS AB,7,0,1999,2001,3,1996,1997,1998,1999,1999 - 2001,2001,2002,2003,2004,SAS AB
96,37533,Choline Chloride,Akzo Nobel NV,3,3,1993,1998,6,1990,1991,1992,1993,1993 - 1998,1998,1999,2000,2001,Akzo Nobel
114,37773,MCAA (Monochloroacetic acid),Akzo Nobel NV,3,3,1984,1998,15,1981,1982,1983,1984,1984 - 1998,1998,1999,2000,2001,Akzo Nobel
116,37919,Bank charges for exchanging EUR currencies Ger...,Commerzbank AG,8,0,1999,2001,3,1996,1997,1998,1999,1999 - 2001,2001,2002,2003,2004,Commerzbank
120,38069,Copper plumbing tubes,Mueller Industries Inc,3,4,1998,2000,3,1995,1996,1997,1998,1998 - 2000,2000,2001,2002,2003,Mueller Industries
124,38069,Copper plumbing tubes,Boliden AB,3,4,1988,2000,13,1985,1986,1987,1988,1988 - 2000,2000,2001,2002,2003,Boliden
125,38069,Copper plumbing tubes,IMI PLC,3,4,1990,2000,11,1987,1988,1989,1990,1990 - 2000,2000,2001,2002,2003,IMI PLC
140,38432,Professional videotape,Hitachi Maxell Limited,3,5,2000,2001,2,1997,1998,1999,2000,2000 - 2001,2001,2002,2003,2004,Hitachi Maxell
141,38432,Professional videotape,Sony Corporation,3,5,2000,2001,2,1997,1998,1999,2000,2000 - 2001,2001,2002,2003,2004,Sony

In [387]:
herfindal_df = pd.read_excel('./transformed_data/shareholder_data/herfindahl_index.xlsx', sheet_name='Sheet1')

def get_herfindahl_value(year, company_name):
    filtered = herfindal_df.loc[(herfindal_df['year'] == year) & (herfindal_df["company_name"] == company_name), 'herfindahl_index']
    return filtered.values[0] if not filtered.empty else np.nan

# for each row in cartel_df
for index, row in cartel_df.iterrows():

    file_name = row['file_name']
    t_a_minus_3 = row['t_A_-3']
    t_a_minus_2 = row['t_A_-2']
    t_a_minus_1 = row['t_A_-1']
    t_a = row['t_A']
    t_a_e = row['t_AE']
    t_e = row['t_E']
    t_e_plus_1 = row['t_E_+1']
    t_e_plus_2 = row['t_E_+2']
    t_e_plus_3 = row['t_E_+3']




    t_a_minus_3_v = get_herfindahl_value(t_a_minus_3, file_name)
    t_a_minus_2_v = get_herfindahl_value(t_a_minus_2, file_name)
    t_a_minus_1_v = get_herfindahl_value(t_a_minus_1, file_name)
    t_a_v = get_herfindahl_value(t_a, file_name)
    
    # t_a_e_v is the average of the years between t_a and t_e
    t_a_e_v = herfindal_df.loc[(herfindal_df['year'] >= t_a) & (herfindal_df['year'] <= t_e) & (herfindal_df["company_name"] == file_name), 'herfindahl_index'].mean()

    t_e_v = get_herfindahl_value(t_e, file_name)
    t_e_plus_1_v = get_herfindahl_value(t_e_plus_1, file_name)
    t_e_plus_2_v = get_herfindahl_value(t_e_plus_2, file_name)
    t_e_plus_3_v = get_herfindahl_value(t_e_plus_3, file_name)

    # set the values in cartel_df
    cartel_df.at[index, 't_A_-3_v'] = t_a_minus_3_v
    cartel_df.at[index, 't_A_-2_v'] = t_a_minus_2_v
    cartel_df.at[index, 't_A_-1_v'] = t_a_minus_1_v
    cartel_df.at[index, 't_A_v'] = t_a_v
    cartel_df.at[index, 't_AE_v'] = t_a_e_v
    cartel_df.at[index, 't_E_v'] = t_e_v
    cartel_df.at[index, 't_E_+1_v'] = t_e_plus_1_v
    cartel_df.at[index, 't_E_+2_v'] = t_e_plus_2_v
    cartel_df.at[index, 't_E_+3_v'] = t_e_plus_3_v

cartel_df.head(10)

,case,cartel,entity_name,sector,subsector,start,end,duration,t_A_-3,t_A_-2,...,file_name,t_A_-3_v,t_A_-2_v,t_A_-1_v,t_A_v,t_AE_v,t_E_v,t_E_+1_v,t_E_+2_v,t_E_+3_v
3,31865,PVC (II),ENI,3,3,1981,1994,14,1978,1979,...,ENI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,663.8512
81,37444,SAS Maersk Air and Sun-Air,SAS AB,7,0,1999,2001,3,1996,1997,...,SAS AB,NaN,0.0000,0.0000,0.0000,328.644200,985.9326,966.8061,964.9093,976.1425
96,37533,Choline Chloride,Akzo Nobel NV,3,3,1993,1998,6,1990,1991,...,Akzo Nobel,NaN,NaN,NaN,NaN,117.604450,186.4086,196.1324,4.7667,3.5171
114,37773,MCAA (Monochloroacetic acid),Akzo Nobel NV,3,3,1984,1998,15,1981,1982,...,Akzo Nobel,NaN,NaN,NaN,NaN,117.604450,186.4086,196.1324,4.7667,3.5171
116,37919,Bank charges for exchanging EUR currencies Ger...,Commerzbank AG,8,0,1999,2001,3,1996,1997,...,Commerzbank,NaN,12.9383,62.0316,80.1212,291.652167,219.3832,267.1413,196.3874,201.0302
120,38069,Copper plumbing tubes,Mueller Industries Inc,3,4,1998,2000,3,1995,1996,...,Mueller Industries,NaN,NaN,89.2777,95.8390,126.276733,197.0112,205.8924,175.9873,190.2007
124,38069,Copper plumbing tubes,Boliden AB,3,4,1988,2000,13,1985,1986,...,Boliden,NaN,NaN,NaN,NaN,269680.034875,162045.5936,40.0417,63.6410,9301.0129
125,38069,Copper plumbing tubes,IMI PLC,3,4,1990,2000,11,1987,1988,...,IMI PLC,NaN,NaN,NaN,NaN,137.446050,153.6441,123.9354,86.3067,169.8940
140,38432,Professional videotape,Hitachi Maxell Limited,3,5,2000,2001,2,1997,1998,...,Hitachi Maxell,2498.3966,2498.5495,2699.1466,2686.4959,2686.110000,2685.7241,2685.0131,2646.4352,2645.4137
141,38432,Professional videotape,Sony Corporation,3,5,2000,2001,2,1997,1998,...,Sony,14.3190,15.6593,41.9970,82.3274,55.685800,29.0442,22.6231,17.7205,15.2777

In [388]:
# save cartel_df to excel file
cartel_df.to_excel('./transformed_data/cartel_networks/cartel_data_with_herfindahl_index.xlsx', index=False)

################################################## Draft 2 (as discussed) ##################################################

In [389]:
# read cartel excel file
cartel_df_v2 = pd.read_excel('./transformed_data/cartel_networks/cartel_data_with_centrality_measures.xlsx', sheet_name='Sheet1')

cartel_df_v2 = cartel_df_v2[['case', 'cartel', 'entity_name', 'number_of_firms', 'number_of_cartel_firms', 'sector', 'subsector', 'start', 'end', 'duration']]

# count number of rows in cartel_df
print(f"number of records in cartel_df_v2:  {cartel_df_v2.shape[0]}")

cartel_df_v2.head(10)

number of records in cartel_df_v2:  292

,case,cartel,entity_name,number_of_firms,number_of_cartel_firms,sector,subsector,start,end,duration
0,31865,PVC (II),Elf Aquitaine SA,6,12.0,3,3,1981,1994,14
1,31865,PVC (II),BASF SE,6,12.0,3,3,1981,1994,14
2,31865,PVC (II),Koninklijke DSM,6,12.0,3,3,1981,1994,14
3,31865,PVC (II),ENI,6,12.0,3,3,1981,1994,14
4,31865,PVC (II),Wacker Chemie AG,6,12.0,3,3,1981,1994,14
5,31865,PVC (II),Royal Dutch Shell,6,12.0,3,3,1981,1994,14
6,31906,FLAT GLASS,PPG Industries Inc,2,3.0,3,4,1982,1987,6
7,31906,FLAT GLASS,Saint Gobain,2,3.0,3,4,1982,1987,6
8,32800,Quantel International - continuum / Quantel SA,Hoya Corporation,1,2.0,3,5,1986,1992,7
9,33016,ANSAC,FMC Corp.,4,7.0,3,3,1984,1990,7

In [390]:
# Get all filenames from mapping file (contains all filenames)
df_mapping = pd.read_excel("./raw_data/mapping/filename_to_entity_mapping.xlsx")

# if entity_name_direct_match column is not empty take entity_name_direct_match else take entity_name_indirect_match_1
df_mapping['entity_name'] = df_mapping.apply(
    lambda x: x['entity_name_direct_match'] if pd.notna(x['entity_name_direct_match']) else x['entity_name_indirect_match_1'], axis=1)

# drop all columns except entity_name and filename
df_mapping = df_mapping[['entity_name', 'file_name']]

# join cartel_df with df_mapping on entity_name
cartel_df_v2 = cartel_df_v2.merge(df_mapping, on='entity_name', how='left')

# count number of rows in cartel_df
print(f"number of records in cartel_df_v2:  {cartel_df_v2.shape[0]}")

cartel_df_v2.head(10)

number of records in cartel_df_v2:  292

,case,cartel,entity_name,number_of_firms,number_of_cartel_firms,sector,subsector,start,end,duration,file_name
0,31865,PVC (II),Elf Aquitaine SA,6,12.0,3,3,1981,1994,14,NaN
1,31865,PVC (II),BASF SE,6,12.0,3,3,1981,1994,14,NaN
2,31865,PVC (II),Koninklijke DSM,6,12.0,3,3,1981,1994,14,NaN
3,31865,PVC (II),ENI,6,12.0,3,3,1981,1994,14,ENI
4,31865,PVC (II),Wacker Chemie AG,6,12.0,3,3,1981,1994,14,NaN
5,31865,PVC (II),Royal Dutch Shell,6,12.0,3,3,1981,1994,14,NaN
6,31906,FLAT GLASS,PPG Industries Inc,2,3.0,3,4,1982,1987,6,NaN
7,31906,FLAT GLASS,Saint Gobain,2,3.0,3,4,1982,1987,6,NaN
8,32800,Quantel International - continuum / Quantel SA,Hoya Corporation,1,2.0,3,5,1986,1992,7,NaN
9,33016,ANSAC,FMC Corp.,4,7.0,3,3,1984,1990,7,NaN

In [391]:
# Assuming your DataFrame is named df
# Step 1: Filter non-null file names
cartel_df_v2_non_null = cartel_df_v2[cartel_df_v2['file_name'].notnull()]

# Step 2: Group by 'case' and 'cartel', and count non-null file_name entries
cartel_df_v2_fn_counts = cartel_df_v2_non_null.groupby(['case', 'cartel'])['file_name'].count().reset_index()

# Optional: Rename the column to something meaningful
cartel_df_v2_fn_counts = cartel_df_v2_fn_counts.rename(columns={'file_name': 'number_of_firms_with_file'})

cartel_df_v2_fn_counts.head(10)

,case,cartel,number_of_firms_with_file
0,31865,PVC (II),1
1,37444,SAS Maersk Air and Sun-Air,1
2,37533,Choline Chloride,1
3,37773,MCAA (Monochloroacetic acid),1
4,37919,Bank charges for exchanging EUR currencies Ger...,1
5,38069,Copper plumbing tubes,3
6,38121,Fittings,3
7,38344,Prestressing Steel Producers,1
8,38432,Professional videotape,3
9,38443,Rubber chemicals,1

In [392]:
cartel_df_v2 = cartel_df_v2.merge(cartel_df_v2_fn_counts, left_on=['case', 'cartel'], right_on=['case', 'cartel'], how='left')

# fill NaN values with 0
cartel_df_v2['number_of_firms_with_file'] = cartel_df_v2['number_of_firms_with_file'].fillna(0)
# convert to int
cartel_df_v2['number_of_firms_with_file'] = cartel_df_v2['number_of_firms_with_file'].astype(int)

# fill NaN values with 0
cartel_df_v2['number_of_cartel_firms'] = cartel_df_v2['number_of_cartel_firms'].fillna(0)
# convert to int
cartel_df_v2['number_of_cartel_firms'] = cartel_df_v2['number_of_cartel_firms'].astype(int)

# fill NaN values with 0
cartel_df_v2['number_of_firms'] = cartel_df_v2['number_of_firms'].fillna(0)
# convert to int
cartel_df_v2['number_of_firms'] = cartel_df_v2['number_of_firms'].astype(int)

# change order of columns
cartel_df_v2 = cartel_df_v2[['case', 'cartel', 'number_of_firms', 'number_of_cartel_firms', 'number_of_firms_with_file', 'sector', 'subsector', 'entity_name', 'file_name', 'duration', 'start', 'end', ]]

print(f"number of records in cartel_df_v2:  {cartel_df_v2.shape[0]}")

print(cartel_df_v2.dtypes)

cartel_df_v2.head(10)

number of records in cartel_df_v2:  292
case                         object
cartel                       object
number_of_firms               int64
number_of_cartel_firms        int64
number_of_firms_with_file     int64
sector                        int64
subsector                     int64
entity_name                  object
file_name                    object
duration                      int64
start                         int64
end                           int64
dtype: object

,case,cartel,number_of_firms,number_of_cartel_firms,number_of_firms_with_file,sector,subsector,entity_name,file_name,duration,start,end
0,31865,PVC (II),6,12,1,3,3,Elf Aquitaine SA,NaN,14,1981,1994
1,31865,PVC (II),6,12,1,3,3,BASF SE,NaN,14,1981,1994
2,31865,PVC (II),6,12,1,3,3,Koninklijke DSM,NaN,14,1981,1994
3,31865,PVC (II),6,12,1,3,3,ENI,ENI,14,1981,1994
4,31865,PVC (II),6,12,1,3,3,Wacker Chemie AG,NaN,14,1981,1994
5,31865,PVC (II),6,12,1,3,3,Royal Dutch Shell,NaN,14,1981,1994
6,31906,FLAT GLASS,2,3,0,3,4,PPG Industries Inc,NaN,6,1982,1987
7,31906,FLAT GLASS,2,3,0,3,4,Saint Gobain,NaN,6,1982,1987
8,32800,Quantel International - continuum / Quantel SA,1,2,0,3,5,Hoya Corporation,NaN,7,1986,1992
9,33016,ANSAC,4,7,0,3,3,FMC Corp.,NaN,7,1984,1990

In [393]:
# get largest duration value
max_duration = cartel_df_v2['duration'].max()
print(f"max duration:   {max_duration}")

# get records with max duration
print(f"cartel name:    {cartel_df_v2[cartel_df_v2['duration'] == max_duration]["cartel"].unique()}")

cartel_df_v2['t_A_-3'] = cartel_df_v2['start'] - 3
cartel_df_v2['t_A_-2'] = cartel_df_v2['start'] - 2
cartel_df_v2['t_A_-1'] = cartel_df_v2['start'] - 1
cartel_df_v2['t_A'] = cartel_df_v2['start']

# for range 1 to max_duration create new column with name t_A_+1, t_A_+2, t_A_+3 and so on
for i in range(1, max_duration - 1):
# Use np.where to conditionally assign values
    cartel_df_v2[f't_A_+{i}'] = np.where(cartel_df_v2['start'] + i < cartel_df_v2['end'], 
                                         cartel_df_v2['start'] + i, 
                                         None)

cartel_df_v2['t_E'] = cartel_df_v2['end']
cartel_df_v2['t_E_+1'] = cartel_df_v2['end'] + 1
cartel_df_v2['t_E_+2'] = cartel_df_v2['end'] + 2
cartel_df_v2['t_E_+3'] = cartel_df_v2['end'] + 3

cartel_df_v2.head(10)

max duration:   35
cartel name:    ['Feed Phosphates Producers']

,case,cartel,number_of_firms,number_of_cartel_firms,number_of_firms_with_file,sector,subsector,entity_name,file_name,duration,...,t_A_+28,t_A_+29,t_A_+30,t_A_+31,t_A_+32,t_A_+33,t_E,t_E_+1,t_E_+2,t_E_+3
0,31865,PVC (II),6,12,1,3,3,Elf Aquitaine SA,NaN,14,...,None,None,None,None,None,None,1994,1995,1996,1997
1,31865,PVC (II),6,12,1,3,3,BASF SE,NaN,14,...,None,None,None,None,None,None,1994,1995,1996,1997
2,31865,PVC (II),6,12,1,3,3,Koninklijke DSM,NaN,14,...,None,None,None,None,None,None,1994,1995,1996,1997
3,31865,PVC (II),6,12,1,3,3,ENI,ENI,14,...,None,None,None,None,None,None,1994,1995,1996,1997
4,31865,PVC (II),6,12,1,3,3,Wacker Chemie AG,NaN,14,...,None,None,None,None,None,None,1994,1995,1996,1997
5,31865,PVC (II),6,12,1,3,3,Royal Dutch Shell,NaN,14,...,None,None,None,None,None,None,1994,1995,1996,1997
6,31906,FLAT GLASS,2,3,0,3,4,PPG Industries Inc,NaN,6,...,None,None,None,None,None,None,1987,1988,1989,1990
7,31906,FLAT GLASS,2,3,0,3,4,Saint Gobain,NaN,6,...,None,None,None,None,None,None,1987,1988,1989,1990
8,32800,Quantel International - continuum / Quantel SA,1,2,0,3,5,Hoya Corporation,NaN,7,...,None,None,None,None,None,None,1992,1993,1994,1995
9,33016,ANSAC,4,7,0,3,3,FMC Corp.,NaN,7,...,None,None,None,None,None,None,1990,1991,1992,1993

In [394]:
#save to excel file
cartel_df_v2.to_excel('./transformed_data/cartel_networks/test111.xlsx', index=False)

In [395]:
cartel_df_v2['v_A_-3'] = None
cartel_df_v2['v_A_-2'] = None
cartel_df_v2['v_A_-1'] = None
cartel_df_v2['v_A'] = None

# for range 1 to max_duration create new column with name t_A_+1, t_A_+2, t_A_+3 and so on
for i in range(1, max_duration - 1):
# Use np.where to conditionally assign values
    cartel_df_v2[f'v_A_+{i}'] = None

cartel_df_v2['v_E'] = None
cartel_df_v2['v_E_+1'] = None
cartel_df_v2['v_E_+2'] = None
cartel_df_v2['v_E_+3'] = None

In [396]:
# get all column names that start with t_A OR t_E
t_a_columns = [col for col in cartel_df_v2.columns if col.startswith('t_A') or col.startswith('t_E')]
# get all column names that start with v_A OR v_E
v_e_columns = [col for col in cartel_df_v2.columns if col.startswith('v_A') or col.startswith('v_E')]

print(t_a_columns)
print(v_e_columns)

def get_herfindahl_value(year, company_name):
    filtered = herfindal_df.loc[(herfindal_df['year'] == year) & (herfindal_df["company_name"] == company_name), 'herfindahl_index']
    return filtered.values[0] if not filtered.empty else np.nan

herfindal_df = pd.read_excel('./transformed_data/shareholder_data/herfindahl_index.xlsx', sheet_name='Sheet1')

    

for index, row in cartel_df_v2.iterrows():

    file_name = row['file_name']

    for col in t_a_columns:
        # get the value of the column
        t_a_value = row[col]
        # check if the value is not null
        if pd.notna(t_a_value):
            # get the herfindahl value for the year and company name
            herfindahl_value = get_herfindahl_value(t_a_value, file_name)
            # set the value in the corresponding v_A column
            cartel_df_v2.at[index, col.replace('t_', 'v_')] = herfindahl_value

print('Finished')

['t_A_-3', 't_A_-2', 't_A_-1', 't_A', 't_A_+1', 't_A_+2', 't_A_+3', 't_A_+4', 't_A_+5', 't_A_+6', 't_A_+7', 't_A_+8', 't_A_+9', 't_A_+10', 't_A_+11', 't_A_+12', 't_A_+13', 't_A_+14', 't_A_+15', 't_A_+16', 't_A_+17', 't_A_+18', 't_A_+19', 't_A_+20', 't_A_+21', 't_A_+22', 't_A_+23', 't_A_+24', 't_A_+25', 't_A_+26', 't_A_+27', 't_A_+28', 't_A_+29', 't_A_+30', 't_A_+31', 't_A_+32', 't_A_+33', 't_E', 't_E_+1', 't_E_+2', 't_E_+3']
['v_A_-3', 'v_A_-2', 'v_A_-1', 'v_A', 'v_A_+1', 'v_A_+2', 'v_A_+3', 'v_A_+4', 'v_A_+5', 'v_A_+6', 'v_A_+7', 'v_A_+8', 'v_A_+9', 'v_A_+10', 'v_A_+11', 'v_A_+12', 'v_A_+13', 'v_A_+14', 'v_A_+15', 'v_A_+16', 'v_A_+17', 'v_A_+18', 'v_A_+19', 'v_A_+20', 'v_A_+21', 'v_A_+22', 'v_A_+23', 'v_A_+24', 'v_A_+25', 'v_A_+26', 'v_A_+27', 'v_A_+28', 'v_A_+29', 'v_A_+30', 'v_A_+31', 'v_A_+32', 'v_A_+33', 'v_E', 'v_E_+1', 'v_E_+2', 'v_E_+3']
Finished

In [397]:
# save cartel_df_v2 to excel file
cartel_df_v2.to_excel('./transformed_data/cartel_networks/test222.xlsx', index=False)